{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="col-md-12 offset-md-3 mx-auto "  >
    <h2 class="text-center" >Finalizar Compra</h2>
    <hr>
    {% comment %} <br> {% endcomment %}

    <form class="d-flex gap-3" action="{% url 'finish_purchase' %}" method="POST">
        {% csrf_token %}
        <div class="col-md-6 offset-md-3 mx-auto ">
            {% comment %} style="background-color:#d3d3d3" {% endcomment %}
            {% comment %} style="border:solid 2px #d3d3d3" {% endcomment %}
            <div class="d-flex flex-column p-2 rounded" style="border:solid 2px #d3d3d3">
                <h5>Endereço de Entrega</h5>
                {% comment %} <span class="fs-6">(Edite para enviar a outro endereço)</span> {% endcomment %}
                <hr style="width:98%;">
    
                {% comment %} <p><label>Usuario:</label>{{ userForm.username }}</p>     {% endcomment %}
                <div class="d-flex gap-3" >
                    <div style="width:50%;">
                        <label>Estado:</label>
                        <p> {{checkoutForm.state}}</p>   
                    </div>
                    <div style="width:50%;">
                        <label>Cidade:</label>
                        <p> {{checkoutForm.city}}</p>   
                    </div>                   
                </div>
                <div class="d-flex gap-3">
                    <div style="width:50%;">
                        <label>Bairro:</label>
                        <p> {{checkoutForm.district}}</p> 
                    </div>
                    <div style="width:50%;">
                        <label>Número:</label>
                        <p> {{checkoutForm.house_number}}</p> 
                    </div>                     
                                         
                </div>
                <div class="d-flex gap-3">
                    <div style="width:50%;">
                        <label>Rua:</label>
                        <p>{{checkoutForm.street}}</p>  
                    </div>   
                    <div style="width:50%;">
                        <label>Cep:</label>
                        <p>{{checkoutForm.cep}}</p>  
                    </div>  
                </div>                    
                
                <hr style="width:98%;">
                <p><label class="fw-bold"> <i class="fa-solid fa-truck"></i> Prazo de Entrega:</label> {{prazo_entrega}} </p>   
            </div>
            <br>
    
            <div class=" p-2 rounded" style="border:solid 2px #d3d3d3" >
                <h5>Pagamento</h5>
                <hr style="width:98%;">                
    
                <h6>Como deseja pagar?</h6>
                <br>

                <div class="d-flex flex-column gap-3">
                    <label class="d-flex align-items-center gap-3 p-2 rounded" style="background-color:#d3d3d3; cursor:pointer;">
                        <input id="pix" onclick="closeCreditCard()" type="radio" name="payment" value="pix" style="cursor:pointer;"><i class="fa-brands fa-pix"></i>Pix
                    </label>
                    <label class="d-flex align-items-center gap-3 p-2 rounded" style="background-color:#d3d3d3; cursor:pointer;">
                        <input id="boleto" onclick="closeCreditCard()" type="radio" name="payment" value="boleto" style="cursor:pointer;"><i class="fa-solid fa-barcode"></i> Boleto
                    </label>
                    <label class="d-flex align-items-center gap-3 p-2 rounded" style="background-color:#d3d3d3; cursor:pointer;">
                        <input id="cartao" onclick="openCloseCreditCard()" type="radio" name="payment" value="cartao" style="cursor:pointer;"><i class="fa-solid fa-credit-card"></i> Cartão de Crédito
                    </label>
                    
                    <div class="d-none flex-column" id="credit-card-data">
                        <label >Nome do Titular do Cartão</label>
                        <input id="name_credit_card" class="form-control" name="name_credit_card" type="text">
                        {% comment %} <p>{{ checkoutForm.name_card }}</p> {% endcomment %}

                        <label >Número do Cartão ( 16 Dígitos )</label>
                        <input id="number_credit_card" class="form-control" name="number_credit_card" type="number" >
                        {% comment %} <p>{{ checkoutForm.number_card }}</p>                         {% endcomment %}

                        <label >Código de Segurança ( 3 Dígitos )</label>
                        <input id="security_code_credit_card" class="form-control" name="security_code_credit_card" type="number" >
                        {% comment %} <p>{{ checkoutForm.code_security_card }}</p> {% endcomment %}
                        
                        <div class="d-flex gap-3">
                            <div>
                                <label name="month-credit-card">Validade (Mês)</label>
                                <input id="validity_month_credit_card" class="form-control" name="validity_month_credit_card" type="number" placeholder="MM" >
                                {% comment %} <p>{{ checkoutForm.validity_month_card }}</p> {% endcomment %}
                            </div>
                            
                            <div>
                                <label name="year-credit-card">Validade (Ano)</label>
                                <input id="validity_year_credit_card" class="form-control" name="validity_month_credit_card" type="number" placeholder="AA" >
                                {% comment %} <p>{{ checkoutForm.validity_year_card }}</p> {% endcomment %}
                            </div>                            
                        </div>
                    </div>
                    
                </div>  
            </div>
        </div>
        

        <div class="col-md-6 offset-md-3 mx-auto p-2 rounded " style="border:solid 2px #d3d3d3">
            <h4>Resumo do pedido</h4>
            <hr style="width:98%;">
            <br>

            <div id="checkout-content" style="max-height:480px;overflow:auto;">
                {% comment %} LISTA DE ITENS ADICIONADOS AO CARRINHO {% endcomment %}
            </div>
            
            <div class="modal-footer">
                <div style="width:100%;" class=" d-flex justify-content-end align-items-center">
                    <h6 style="display:inline-block; margin-right:5px;" >Valor Total: </h6><h6 style="display:inline-block" id="totalValueCheckout">R$ 0,00</h6>
                </div>
                <a href="{% url 'home' %}" onclick="clearCart()" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</a>
                <a href="{% url 'home' %}" class="btn btn-primary" >Continuar Comprando</a>
                {% comment %} <a class="btn btn-success" >Finalizar Compra</a> {% endcomment %}
                <button class="btn btn-success" type="submit" >Finalizar Compra</button>
            </div>
            
            {% comment %} <button class="btn btn-success" type="submit" >Finalizar Compra</button> {% endcomment %}
        </div> 
    </form>
    <br>

    <script>
        let divCreditCard = document.getElementById("credit-card-data")
        function openCloseCreditCard(){
            if(divCreditCard.classList.contains("d-none")){
                divCreditCard.classList.remove("d-none")
                divCreditCard.classList.add("d-flex")
            }else {
                divCreditCard.classList.remove("d-flex")
                divCreditCard.classList.add("d-none")
            }            
        }
        function closeCreditCard(){
            divCreditCard.classList.remove("d-flex")
            divCreditCard.classList.add("d-none")
        }
    </script>

    
</div>
{% endblock %}





    {% comment %} <label>Validade (Mês/Ano)</label>
    <div class="d-flex form-control">
        <div><input class="rounded form-control" name="month-credit-card" type="number" placeholder="MMM"></div>
        <div><input class="rounded form-control" name="year-credit-card" type="number" placeholder="AA"></div></div>
    </div>  {% endcomment %}