{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="col-md-10 offset-md-3 mx-auto" >
    <h2 class="text-center" >Perfil</h2>
    <hr>
    <br>

    {% if user.is_authenticated and user_profile %}
        <div class="d-flex flex-column gap-3">
            
            <div class="text-center">
                
                {% if user.userprofile.user_image %}
                    <img style="border-radius:50%;max-width:200px;" src="{{user_profile.userprofile.user_image.url}}">                
                {% endif %}
                {% if not user.userprofile.user_image.url %}
                    <img src="{% static 'images/default.jpg' %}" style="width:205px; height:205px; border-radius: 50%; margin-left:10px" alt="s/ foto">
                {% endif %}
                <h6>{{ user_profile.username }}</h6>
            </div> 

            {% comment %} <br> {% endcomment %}

            {% if user_profile_instance.bio %}
            <div class="d-flex gap-3" >
                <h6>Bio:</h6>
                <textarea class="form-control" style="height: 120px;" readonly> {{ user_profile_instance.bio }}</textarea>
            </div>
                
            {% endif %}

            <div class="text-center" >

                {% comment %} <br> {% endcomment %}
                <h5>Gêneros Preferidos:</h5>              
                <div class="d-flex justify-content-center gap-2" >
                        {% for genre in unique_genres %}
                            <a href="{% url 'tag_search' %}?search={{ genre }}" style="color:black;">
                                <div class="card p-1" style="display: inline-block; margin-left:10px">{{ genre }}</div>
                            </a>
                        {% empty %}
                            <p >Este usuário ainda não fez avaliações.</p>                    
                        {% endfor %}
                </div>
                <br>


                {% comment %} <h5>TESTE DE TAG USANDO DJANGO TAGGIT:</h5>   
                <br>  
                <div class="d-flex justify-content-center gap-2">
                    {% for rating in ratings %}
                        {% with book=rating.book %}
                            <div>
                                <h6>{{ book.title }}</h6>
                                
                                <h6>Tags:</h6>
                                <div class="d-flex flex-wrap">
                                    {% for tag in book.tags.all %}
                                        <a href="{% url 'tag_search' %}?search={{ tag.name }}">
                                            <div class="card p-1" style="display: inline-block; margin-left:10px;color:black; ">
                                                {{ tag.name }}
                                            </div>
                                        </a>
                                        
                                    {% empty %}
                                        <p>Este livro não tem tags associadas.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endwith %}
                    {% empty %}
                        <p>Este usuário ainda não fez avaliações.</p>
                    {% endfor %}
                </div> {% endcomment %}

                <div class="d-flex justify-content-center gap-2" >
                    {% comment %} {% for rating in ratings %}
                        {% for tag in book.tags.all %}
                            {% if rating.book == tag.name %}
                                <div class="card p-1" style="display: inline-block; margin-left:10px">{{ tag.name }}</div>
                            {% empty %}
                                <p >Este usuário ainda não fez avaliações.</p>     
                            {% endif %}               
                        {% endfor %}
                    {% endfor %} {% endcomment %}

                        {% comment %} {% for tag in book.tags.all %}
                            <div class="card p-1" style="display: inline-block; margin-left:10px">{{ tag.name }}</div>
                        {% empty %}
                            <p >Este usuário ainda não fez avaliações.</p>                    
                        {% endfor %} {% endcomment %}
                </div>
                <br>

                <br>
                <h5>Livros Preferidos:</h5>                

                <div class="d-flex justify-content-center" >
                    {% comment %} {% with counter=1 %} {% endcomment %}
                        {% for rating in ratings %}
                            {% for book in books %}
                                {% if rating.book.title == book.title %}
                                    <div>
                                        {% comment %} <img src="{{ book.image.url }} " class="w-25"  alt="{{ book.title }}"> {% endcomment %}
                                        <a href="{% url 'book' book.id %}">
                                            <img src="{{ book.image.url }}" class="w-75" style="max-height:200px;object-fit:contain;"  alt="{{ book.title }}">
                                        </a>
                                        
                                        {% comment %} <p>{{ forloop.counter }}º</p> {% endcomment %}
                                        {% comment %} <p class="small">{{rating.book.title}}</p> {% endcomment %}
                                    </div>
                                    {% comment %} {% with counter=counter|add:1 %}
                                    {% endwith %} {% endcomment %}
                                
                                {% endif %} 
                            {% endfor %}

                        {% empty %}
                            <p>Este usuário ainda não fez avaliações.</p>                    
                        {% endfor %}
                    {% comment %} {% endwith %} {% endcomment %}
                </div>
                


                {% comment %} <h5>Gêneros Preferidos:</h5>

                <div class="d-flex justify-content-center gap-2" >
                        {% for rating in unique_genres %}
                            <div class="card p-1" style="display: inline-block; margin-left:10px">{{ rating}}</div>
                        {% empty %}
                            <p >Este usuário ainda não fez avaliações.</p>
                    
                        {% endfor %}
                </div> {% endcomment %}
                
            </div>
            <br>

            {% if user_profile == user_logged %}
            <hr>          
            
            <div class="col-md-6 offset-md-3 d-flex flex-column gap-3 " >
                <h4>Dados Pessoais:</h4>
                <div>
                    {% comment %} <label>Usuário:</label> {% endcomment %}
                    <input type="text" class="form-control" value="Usuário: {{user_profile.username}}" readonly>
                </div>
                <div>
                    {% comment %} <label>Nome:</label> {% endcomment %}
                    <input type="text" class="form-control" value="Nome: {{user_profile.first_name}}" readonly>
                </div>
                <div>
                    {% comment %} <label>Sobrenome:</label> {% endcomment %}
                    <input type="text" class="form-control" value="Sobrenome: {{user_profile.last_name}}" readonly>
                </div>
                <div>
                    {% comment %} <label>Email:</label> {% endcomment %}
                    <input type="text" class="form-control" value="Email: {{user_profile.email}}" readonly>
                </div>
                <div>
                    {% comment %} <label>Cpf:</label> {% endcomment %}
                    <input type="text" class="form-control" value="Cpf: {{user_profile.userprofile.cpf}}" readonly>
                </div>
                <div>
                    <input type="text" class="form-control" value="Imagem de Perfil: {{user_profile.userprofile.user_image}}" readonly>
                </div>
                <div class="d-flex justify-content-center ">
                    <a href="{% url 'profile_edit' %}">
                        <button type="button" class="btn btn-primary btn-lg" >Editar Perfil</button>
                    </a>                
                </div> 
            </div>

            {% endif %}
        </div>

    {% endif %}

</div>
<br>

{% endblock %}








            {% comment %} <h4>Dados Pessoais:</h4>
            <div>
                <input type="text" class="form-control" value="Usuário: {{user_profile.username}}" readonly>
            </div>
            <div>
                <input type="text" class="form-control" value="Nome: {{user_profile.first_name}}" readonly>
            </div>
            <div>
                <input type="text" class="form-control" value="Sobrenome: {{user_profile.last_name}}" readonly>
            </div>
            <div>
                <input type="text" class="form-control" value="Email: {{user_profile.email}}" readonly>
            </div>
            <div>
                <input type="text" class="form-control" value="Cpf: {{user_profile.userprofile.cpf}}" readonly>
            </div>
            <div>
                <input type="text" class="form-control" value="Imagem de Perfil: {{user_profile.userprofile.user_image}}" readonly>
            </div>
            <div class="d-flex justify-content-center ">
                <a href="{% url 'profile_edit' %}">
                    <button type="button" class="btn btn-primary btn-lg" >Editar Perfil</button>
                </a>                
            </div>  {% endcomment %}










   

    {% comment %} <div class="d-flex mt-5">
        
    </div> {% endcomment %}


    {% comment %} <p>{{user.}}</p>
    <p>{{user.}}</p>
    <p>{{user.}}</p>
    <p>{{user.}}</p>
    <p>{{user.}}</p> {% endcomment %}


    {% comment %} <form method="POST" >
        {% csrf_token %}

        {{form.as_p}}   

        <br/>
        <a href="{% url 'home'  %}" class="btn btn-secondary" >Voltar</a>
        <button type="submit" class="btn btn-success" >Atualizar</button>
    </form> {% endcomment %}


