{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="col-md-6 offset-md-3" >
    <h2 class="text-center" >Perfil</h2>
    <hr>
    <br>

    {% if user.is_authenticated and user_profile %}
        <div class="d-flex flex-column gap-3">
            
            <div class="text-center">
                
                {% if user.userprofile.user_image %}
                    <img style="border-radius:50%;max-width:200px;" src="{{user_profile.userprofile.user_image.url}}">                
                {% endif %}
                {% if not user.userprofile.user_image.url %}
                    <img src="{% static 'default.jpg' %}" style="width:205px; height:205px; border-radius: 50%; margin-left:10px" alt="s/ foto">
                {% endif %}
                <h6>{{ user_profile.username }}</h6>
            </div> 

            <br>

            <div class="text-center" >

                <h5>Gêneros Preferidos:</h5>

                <div class="d-flex justify-content-center gap-2" >
                        {% for rating in unique_genres %}
                            <div class="card p-1" style="display: inline-block; margin-left:10px">{{ rating}}</div>
                        {% empty %}
                            <p >Este usuário ainda não fez avaliações.</p>
                    
                        {% endfor %}
                </div>
                <br><br>

                <h5>Livros Preferidos:</h5>
                <br>

                <div class="d-flex justify-content-center" >
                    {% comment %} {% with counter=1 %} {% endcomment %}
                        {% for rating in ratings %}
                            {% for book in books %}
                                {% if rating.book.title == book.title %}
                                    <div>
                                        {% comment %} <img src="{{ book.image.url }} " class="w-25"  alt="{{ book.title }}"> {% endcomment %}
                                        <a href="{% url 'book' book.id %}">
                                            <img src="{{ book.image.url }}" style="width: 10rem;" alt="{{ book.title }}">
                                        </a>
                                        
                                        {% comment %} <p>{{ forloop.counter }}º</p> {% endcomment %}
                                        {% comment %} <p class="small">{{rating.book.title}}</p> {% endcomment %}
                                    </div>
                                    {% comment %} {% with counter=counter|add:1 %}
                                    {% endwith %} {% endcomment %}
                                
                                {% endif %} 
                            {% endfor %}

                        {% empty %}
                            <p>Este usuário ainda não fez avaliações.</p>
                    
                        {% endfor %}
                    {% comment %} {% endwith %} {% endcomment %}
                </div>
                


                {% comment %} <h5>Gêneros Preferidos:</h5>

                <div class="d-flex justify-content-center gap-2" >
                        {% for rating in unique_genres %}
                            <div class="card p-1" style="display: inline-block; margin-left:10px">{{ rating}}</div>
                        {% empty %}
                            <p >Este usuário ainda não fez avaliações.</p>
                    
                        {% endfor %}
                </div> {% endcomment %}
                
            </div>
            <br>

            {% if user_profile == user_logged %}
            <hr>
            <h4>Dados Pessoais:</h4>
            <div>
                {% comment %} <label>Usuário:</label> {% endcomment %}
                <input type="text" class="form-control" value="Usuário: {{user_profile.username}}" readonly>
            </div>
            <div>
                {% comment %} <label>Nome:</label> {% endcomment %}
                <input type="text" class="form-control" value="Nome: {{user_profile.first_name}}" readonly>
            </div>
            <div>
                {% comment %} <label>Sobrenome:</label> {% endcomment %}
                <input type="text" class="form-control" value="Sobrenome: {{user_profile.last_name}}" readonly>
            </div>
            <div>
                {% comment %} <label>Email:</label> {% endcomment %}
                <input type="text" class="form-control" value=" Email: {{user_profile.email}}" readonly>
            </div>
            <div>
                {% comment %} <label>Cpf:</label> {% endcomment %}
                <input type="text" class="form-control" value="Cpf: {{user_profile.userprofile.cpf}}" readonly>
            </div>
            <div>
                <input type="text" class="form-control" value="Imagem: {{user_profile.userprofile.user_image}}" readonly>
            </div>
            <div class="d-flex justify-content-center ">
                <a href="{% url 'profile_edit' %}">
                    <button type="button" class="btn btn-primary btn-lg" >Editar Perfil</button>
                </a>                
            </div> 

            {% endif %}
        </div>

    {% endif %}

</div>
<br>

{% endblock %}










   

    {% comment %} <div class="d-flex mt-5">
        
    </div> {% endcomment %}


    {% comment %} <p>{{user.}}</p>
    <p>{{user.}}</p>
    <p>{{user.}}</p>
    <p>{{user.}}</p>
    <p>{{user.}}</p> {% endcomment %}


    {% comment %} <form method="POST" >
        {% csrf_token %}

        {{form.as_p}}   

        <br/>
        <a href="{% url 'home'  %}" class="btn btn-secondary" >Voltar</a>
        <button type="submit" class="btn btn-success" >Atualizar</button>
    </form> {% endcomment %}