{% extends 'base.html' %}
{% block content %}
    <h2 class="text-center" >Cadastro de Usuário</h2>
    <hr>
    <form method="POST" action="{% url 'register' %}" >
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert" >
                Seu Formulário Possui Erros
                {% comment %} {% for field in form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %} {% endcomment %}
            </div>
        {% endif %}
        {{ form.as_p }}
        {% comment %}  o as_p é um dos métodos de renderização de campos de formulário no Django 
        e indica que cada campo será renderizado dentro de uma tag <p> (parágrafo). {% endcomment %}
        <br>
        <button type="submit" class="btn btn-primary" >Cadastrar</button>
    </form>
{% endblock %}